div.body
  ul
    li
      .message-container
        a.thumbnail(href='#')
          | Q
        .content
          h3 Nick Roach
          span.preview hey how are things going on the...
          span.meta
            | 2h ago
            // &middot;
            // <a href='#'>Category</a>
            // &middot;
            // <a href='#'>Reply</a>
    li
      a.thumbnail(href='#')
        | A
      .content
        h3 Nick Roach
        span.preview hey how are things going on the...
        span.meta
          | 2h ago
          // &middot;
          // <a href='#'>Category</a>
          // &middot;
          // <a href='#'>Reply</a>
    li
      a.thumbnail(href='#')
        | A
      .content
        h3 Nick Roach
        span.preview hey how are things going on the...
        span.meta
          | 2h ago
          // &middot;
          // <a href='#'>Category</a>
          // &middot;
          // <a href='#'>Reply</a>
    li
      a.thumbnail(href='#')
        | NR
      .content
        h3 Nick Roach
        span.preview hey how are things going on the...
        span.meta
          | 2h ago
          // &middot;
          // <a href='#'>Category</a>
          // &middot;
          // <a href='#'>Reply</a>
    li
      a.thumbnail(href='#')
        | NR
      .content
        h3 Nick Roach
        span.preview hey how are things going on the...
        span.meta
          | 2h ago
          // &middot;
          // <a href='#'>Category</a>
          // &middot;
          // <a href='#'>Reply</a>
    li
      a.thumbnail(href='#')
        | NR
      .content
        h3 Nick Roach
        span.preview hey how are things going on the...
        span.meta
          | 2h ago
          // &middot;
          // <a href='#'>Category</a>
          // &middot;
          // <a href='#'>Reply</a>
    li
      a.thumbnail(href='#')
        | NR
      .content
        h3 Nick Roach
        span.preview hey how are things going on the...
        span.meta
          | 2h ago
          // &middot;
          // <a href='#'>Category</a>
          // &middot;
          // <a href='#'>Reply</a>
    li
      a.thumbnail(href='#')
        | NR
      .content
        h3 Nick Roach
        span.preview hey how are things going on the...
        span.meta
          | 2h ago
          // &middot;
          // <a href='#'>Category</a>
          // &middot;
          // <a href='#'>Reply</a>
    li
      a.thumbnail(href='#')
        | NR
      .content
        h3 Nick Roach
        span.preview hey how are things going on the...
        span.meta
          | 2h ago
          // &middot;
          // <a href='#'>Category</a>
          // &middot;
          // <a href='#'>Reply</a>
    li
      a.thumbnail(href='#')
        | NR
      .content
        h3 Nick Roach
        span.preview hey how are things going on the...
        span.meta
          | 2h ago
          // &middot;
          // <a href='#'>Category</a>
          // &middot;
          // <a href='#'>Reply</a>
    li
      a.thumbnail(href='#')
        | NR
      .content
        h3 Nick Roach
        span.preview hey how are things going on the...
        span.meta
          | 2h ago
          // &middot;
          // <a href='#'>Category</a>
          // &middot;
          // <a href='#'>Reply</a>
    li
      a.thumbnail(href='#')
        | NR
      .content
        h3 Nick Roach
        span.preview hey how are things going on the...
        span.meta
          | 2h ago
          // &middot;
          // <a href='#'>Category</a>
          // &middot;
          // <a href='#'>Reply</a>
    li
      a.thumbnail(href='#')
        | KS
      .content
        h3 Kenny Sing
        span.preview make sure you take a look at the...
        span.meta
          | 3h ago
          // &middot;
          // <a href='#'>Category</a>
          // &middot;
          // &lt;!&ndash;<a href='#'>Reply</a>&ndash;&gt;
    li
      a.thumbnail(href='#')
        | MS
      .content
        h3 Mitch Skolnik
        span.preview i love wood grain things!
        span.meta
          | 6h ago
          // &middot;
          // <a href='#'>Category</a>
          // &middot;
          // <a href='#'>Reply</a>
    li
      a.thumbnail(href='#')
        | YP
      .content
        h3 Yuriy Portnykh
        span.preview check issues for the latest version...
        span.meta
          | 10h ago
          // &middot;
          // <a href='#'>Category</a>
          // &middot;
          // <a href='#'>Reply</a>
    li
      a.thumbnail(href='#')
        | JR
      .content
        h3 Josh Ronk
        span.preview make sure to do the following by...
        span.meta
          | 2d ago
          // &middot;
          // <a href='#'>Category</a>
          // &middot;
          // <a href='#'>Reply</a>
    li
      a.thumbnail(href='#')
        | BM
      .content
        h3 Benjamin Mueller
        span.preview Hi nice to meet you!
        span.meta
          | 1w ago
          // &middot;
          // <a href='#'>Category</a>
          // &middot;
          // <a href='#'>Reply</a>
footer
.message-input-container
form(ng-submit='sendMessage()')
  input.textarea.message-input.send-message(ng-model='message', type='text', placeholder='Type here!')
