div.body#chatBody
  ul
    li(ng-repeat="message in chat.messages",ng-animate="'animate'")
      .message-container(id="{{message.id}}")
        a.thumbnail(href='#')
          div(ng-bind="message.acronyms")
        .content
          h3(ng-bind="message.name")
          span.preview(ng-bind="message.message")
          span.meta
            //| 2h ago
footer
.message-input-container
form(ng-submit='chat.sendMessage()')
  input.textarea.message-input.send-message(ng-model='chat.message', type='text', placeholder='Type here!',
    focus-on="chat.focusInput" )
